/* 
    三种CSS选择器

    1.元素选择器
        功能：根据标签的名字，确定样式作用的元素
        语法：标签名 { 样式名: 样式值;... }
        e.g. input { color: black; }
        缺点：样式直接作用于整类标签，作用范围太宽泛且单一

    2.id选择器
        功能：根据标签的id值，确定样式作用的元素（id具有唯一性）
        语法：#id值 { 样式名: 样式值;... }
        e.g. #abc { color: black; }
        缺点：由于id具有唯一性，所有该选择器只能作用到唯一一个元素上

    3.class选择器
        功能：根据标签的class属性值，确定样式作用的元素
            （class属性：不同元素的class属性可以重复，且一个元素的class可以有多个值）
        语法：.class属性值 { 样式名: 样式值;... }
        e.g. .
*/

/* 1.元素选择器 */
h1 {
  color: red;
}

/* 2.id选择器 */
#p114514 {
  color: green;
}

/* 3.class选择器 */
.MyColor {
  color: blue;
}
