<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>articleList</title>
</head>
<body>
<table border="1px" width="600px" align="center">
    <thead>
    <tr>
        <th>id</th>
        <th>标题</th>
        <th>内容</th>
        <th>操作</th>
    </tr>
    </thead>
    <!--
    Thymeleaf 遍历格式如下：
   <tr th:each="user : ${userList}">
   <td th:text="${user.name}">xxx</td>
    </tr>-->
    <tbody th:each="article:${articleList}">
    <tr>
        <td th:text="${article.id}"></td>
        <td th:text="${article.title}"></td>
        <td th:text="${article.content}"></td>
        <td>
            <a th:href="@{/article/findById(id=${article.id})}">查看详情</a>
        </td>
    </tr>
    </tbody>
    <tr>
        <td colspan="4">
            <form method="get" th:action="@{'/article/findAll'}">
                <!--th:action 相当于 action-->
                <input type="submit" value="查询">
            </form>
        </td>
    </tr>
</table>
</body>
</html>